*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/src/main/res/values/api_key.xml
app/sampledata/
app/src/main/res/drawable-xxxhdpi/
app/src/main/res/layout-v28/
sampledata/
src/main/res/drawable-xxxhdpi/
src/main/res/layout-v28/
